@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Dummy";
  src: url("../../public/fonts/DummyDaze.ttf");
}

@font-face {
  font-family: "FatBoy";
  src: url("../../public/fonts/FatBoy.ttf");
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }

  .big-square {
    position: relative;
  }

  .big-square.checked::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: green;
  }
}

.categories-accordion {
  button .custom-trigger .svg-wrapper{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  button[data-state="open"] .custom-trigger .svg-wrapper {
    transform: translate(-50%, -50%) rotateX(180deg);
  }
}


.beer-loader {
  width: 80px;
  height: 165px;
  display: inline-block;
  left: 5px;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  animation: animloader 2s linear infinite alternate;
  color: #F7E16C;
  border-radius: 0 0 4px 4px;
  transform: perspective(200px) rotateX(-25deg) translateY(-50%);
}

@keyframes animloader {
  0% {
    box-shadow: 0 0  inset;
  }
  100% {
    box-shadow: 0 -155px inset;
  }
}




body {
  margin: 0;
  padding: 0;
}

.beer-glass-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.beer-glass-wrapper .glass-wrapper {
  position: relative;
}

.beer-glass-wrapper .glass {
  border: 8px solid white;
  border-bottom-width: 16px;
  border-top: transparent;
  border-radius: 0 0 4px 4px;
  height: 240px;
  width: 144px;
  transform: perspective(240px) rotateX(-10deg);
  position: relative;
  overflow: hidden;
}

.beer-glass-wrapper .beer {
  height: 90%;
  width: 100%;
  background-color: gold;
  position: absolute;
  bottom: 0;
  transform: scaleY(1);
  transform-origin: bottom;
  animation: beer-fill 4000ms linear infinite;
}

.beer-glass-wrapper .bubble {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: bubble-rise 4000ms infinite;
}

.beer-glass-wrapper .bubble:nth-child(1) {
  left: 3.7%;
  bottom: 0.4%;
  animation-duration: 4000ms - 140ms;
  animation-delay: 140ms;
}
.beer-glass-wrapper .bubble:nth-child(2) {
  left: 51%;
  bottom: 6.4%;
  animation-duration: 4000ms - 360ms;
  animation-delay: 360ms;
}
.beer-glass-wrapper .bubble:nth-child(3) {
  left: 18%;
  bottom: 1.4%;
  animation-duration: 4000ms - 60ms;
  animation-delay: 60ms;
}
.beer-glass-wrapper .bubble:nth-child(4) {
  left: 83%;
  bottom: 9.1%;
  animation-duration: 4000ms - 410ms;
  animation-delay: 410ms;
}
.beer-glass-wrapper .bubble:nth-child(5) {
  left: 58%;
  bottom: 14.7%;
  animation-duration: 4000ms - 70ms;
  animation-delay: 70ms;
}
.beer-glass-wrapper .bubble:nth-child(6) {
  left: 13%;
  bottom: 3.6%;
  animation-duration: 4000ms - 230ms;
  animation-delay: 230ms;
}
.beer-glass-wrapper .bubble:nth-child(7) {
  left: 73%;
  bottom: 0.4%;
  animation-duration: 4000ms - 100ms;
  animation-delay: 100ms;
}
.beer-glass-wrapper .bubble:nth-child(8) {
  left: 41%;
  bottom: 14.4%;
  animation-duration: 4000ms - 310ms;
  animation-delay: 310ms;
}
.beer-glass-wrapper .bubble:nth-child(9) {
  left: 35%;
  bottom: 0.4%;
  animation-duration: 4000ms;
}

.beer-glass-wrapper .foambubble {
  display: inline-block;
  width: 70px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -15px;
  z-index: 2;
}

.beer-glass-wrapper .foambubble:nth-child(1) {left: -21%;}
.beer-glass-wrapper .foambubble:nth-child(2) {left: 3%;}
.beer-glass-wrapper .foambubble:nth-child(3) {left: 18%;}
.beer-glass-wrapper .foambubble:nth-child(4) {left: 37%;}
.beer-glass-wrapper .foambubble:nth-child(5) {left: 65%;}

.beer-glass-wrapper .foamtop {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 0;
  width: 100%;
  height: 60px;
  animation: ftbubble-appear 4s infinite;
}
.beer-glass-wrapper .ft-bubble {
  display: inline-block;
  width: 90px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
}

.beer-glass-wrapper .ft-bubble:nth-child(1) {left: -12%}
.beer-glass-wrapper .ft-bubble:nth-child(2) {left: 13%}
.beer-glass-wrapper .ft-bubble:nth-child(3) {left: 43%}
.beer-glass-wrapper .ft-bubble:nth-child(4) {left: 57%}

.beer-glass-wrapper .coaster {
  height: 8px * 2;
  width: 120%;
  margin-left: -10%;
  margin-top: -10%;
  background-color: rgba(50,50,50,0.5);
}

@keyframes beer-fill {
  0% {
    transform: scaleY(0);
  }
  48%,
  100% {
    transform: scaleY(1);
  }
}

@keyframes bubble-rise {
  0%,
  20% {
    opacity: 0;
    transform: translate3d(0,0,0);
  }
  85% {
    opacity: 1;
    transform: translate3d(0, -1920%, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, -1870%, 0);
  }
}

@keyframes ftbubble-appear {
  0%,
  40%{
    opacity: 0;
    transform: translateY(35px) scale3d(0,0,0);
  }
  42% {
    opacity: 0;
    transform: translateY(27px) scale3d(0.4,0,0);
  }
  67%,
  100% {
    opacity: 1;
    transform: translateY(0px) scale3d(1,1,0);
  }
}
