@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Dummy";
  src: url("../../public/fonts/DummyDaze.ttf");
}

@font-face {
  font-family: "FatBoy";
  src: url("../../public/fonts/FatBoy.ttf");
}

@font-face {
  font-family: "Dye";
  src: url("../../public/fonts/Dye.ttf");
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

}



.dark {
  --button-danger-pressed: rgba(225, 29, 72, 1);
  --bg-base-pressed: rgba(63, 63, 70, 1);
  --bg-component-hover: rgba(255, 255, 255, 0.1);
  --border-interactive: rgba(96, 165, 250, 1);
  --button-neutral: rgba(255, 255, 255, 0.04);
  --tag-orange-border: rgba(124, 45, 18, 1);
  --tag-blue-text: rgba(147, 197, 253, 1);
  --bg-highlight: rgba(23, 37, 84, 1);
  --tag-neutral-icon: rgba(113, 113, 122, 1);
  --bg-switch-off-hover: rgba(82, 82, 91, 1);
  --fg-on-color: rgba(255, 255, 255, 1);
  --button-inverted-pressed: rgba(161, 161, 170, 1);
  --fg-interactive-hover: rgba(147, 197, 253, 1);
  --fg-error: rgba(251, 113, 133, 1);
  --bg-switch-off: rgba(63, 63, 70, 1);
  --border-strong: rgba(255, 255, 255, 0.16);
  --border-error: rgba(251, 113, 133, 1);
  --fg-subtle: rgba(161, 161, 170, 1);
  --bg-highlight-hover: rgba(30, 58, 138, 1);
  --button-inverted: rgba(82, 82, 91, 1);
  --tag-orange-text: rgba(253, 186, 116, 1);
  --fg-base: rgba(244, 244, 245, 1);
  --fg-disabled: rgba(82, 82, 91, 1);
  --button-danger: rgba(159, 18, 57, 1);
  --tag-neutral-border: rgba(255, 255, 255, 0.06);
  --tag-blue-border: rgba(30, 58, 138, 1);
  --tag-neutral-text: rgba(212, 212, 216, 1);
  --tag-purple-border: rgba(91, 33, 182, 1);
  --tag-green-text: rgba(52, 211, 153, 1);
  --button-inverted-hover: rgba(113, 113, 122, 1);
  --bg-component-pressed: rgba(255, 255, 255, 0.16);
  --contrast-border-bot: rgba(255, 255, 255, 0.08);
  --tag-blue-icon: rgba(96, 165, 250, 1);
  --bg-field: rgba(255, 255, 255, 0.04);
  --tag-neutral-bg: rgba(255, 255, 255, 0.08);
  --tag-green-border: rgba(6, 78, 59, 1);
  --tag-red-icon: rgba(251, 113, 133, 1);
  --tag-red-text: rgba(253, 164, 175, 1);
  --tag-purple-icon: rgba(167, 139, 250, 1);
  --bg-interactive: rgba(96, 165, 250, 1);
  --bg-field-hover: rgba(255, 255, 255, 0.08);
  --border-transparent: rgba(255, 255, 255, 0);
  --tag-orange-icon: rgba(251, 146, 60, 1);
  --tag-purple-bg: rgba(46, 16, 101, 1);
  --bg-base-hover: rgba(39, 39, 42, 1);
  --tag-blue-bg: rgba(23, 37, 84, 1);
  --tag-green-bg: rgba(2, 44, 34, 1);
  --tag-purple-text: rgba(196, 181, 253, 1);
  --tag-red-border: rgba(136, 19, 55, 1);
  --border-danger: rgba(190, 18, 60, 1);
  --tag-green-icon: rgba(16, 185, 129, 1);
  --tag-red-bg: rgba(76, 5, 25, 1);
  --fg-interactive: rgba(96, 165, 250, 1);
  --tag-orange-bg: rgba(67, 20, 7, 1);
  --button-danger-hover: rgba(190, 18, 60, 1);
  --bg-component: rgba(39, 39, 42, 1);
  --bg-disabled: rgba(39, 39, 42, 1);
  --button-transparent: rgba(255, 255, 255, 0);
  --border-menu-bot: rgba(255, 255, 255, 0.08);
  --tag-purple-bg-hover: rgba(91, 33, 182, 1);
  --tag-orange-bg-hover: rgba(124, 45, 18, 1);
  --tag-blue-bg-hover: rgba(30, 58, 138, 1);
  --tag-red-bg-hover: rgba(136, 19, 55, 1);
  --tag-green-bg-hover: rgba(6, 78, 59, 1);
  --border-menu-top: rgba(33, 33, 36, 1);
  --bg-base: rgba(33, 33, 36, 1);
  --contrast-border-top: rgba(33, 33, 36, 1);
  --bg-field-component: rgba(33, 33, 36, 1);
  --bg-subtle-hover: rgba(33, 33, 36, 1);
  --bg-subtle: rgba(24, 24, 27, 1);
  --fg-on-inverted: rgba(24, 24, 27, 1);
  --bg-overlay: rgba(24, 24, 27, 0.72);
  --button-transparent-hover: rgba(255, 255, 255, 0.08);
  --contrast-fg-secondary: rgba(255, 255, 255, 0.56);
  --contrast-border-base: rgba(255, 255, 255, 0.16);
  --contrast-bg-base-pressed: rgba(82, 82, 91, 1);
  --button-neutral-pressed: rgba(255, 255, 255, 0.12);
  --border-base: rgba(255, 255, 255, 0.08);
  --contrast-fg-primary: rgba(255, 255, 255, 0.88);
  --button-neutral-hover: rgba(255, 255, 255, 0.08);
  --contrast-bg-base: rgba(39, 39, 42, 1);
  --tag-neutral-bg-hover: rgba(255, 255, 255, 0.12);
  --contrast-bg-subtle: rgba(255, 255, 255, 0.04);
  --contrast-bg-base-hover: rgba(63, 63, 70, 1);
  --bg-field-component-hover: rgba(39, 39, 42, 1);
  --bg-subtle-pressed: rgba(39, 39, 42, 1);
  --button-transparent-pressed: rgba(255, 255, 255, 0.12);
  --fg-muted: rgba(113, 113, 122, 1);
  --borders-interactive-with-shadow: 0px 1px 2px 0px rgba(219, 234, 254, 0.5), 0px 0px 0px 1px rgba(96, 165, 250, 1);
  --details-contrast-on-bg-interactive: 0px 1px 2px 0px rgba(30, 58, 138, 0.6);
  --details-switch-handle: 0px 0px 2px 1px rgba(255, 255, 255, 1) inset, 0px 1px 0px 0px rgba(255, 255, 255, 1) inset, 0px 0px 0px 0.5px rgba(0, 0, 0, 0.16), 0px 5px 4px 0px rgba(0, 0, 0, 0.1), 0px 3px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  --borders-interactive-with-active: 0px 0px 0px 1px #FF850E, 0px 0px 0px 4px #fa470075;
  --borders-focus: 0px 0px 0px 1px rgba(24, 24, 27, 1), 0px 0px 0px 3px rgba(96, 165, 250, 0.8);
  --borders-interactive-with-focus: 0px 1px 2px 0px rgba(219, 234, 254, 0.5), 0px 0px 0px 1px rgba(96, 165, 250, 1), 0px 0px 0px 2px rgba(24, 24, 27, 1), 0px 0px 0px 4px rgba(96, 165, 250, 0.8);
  --details-switch-background-focus: 0px 0px 0px 1px rgba(24, 24, 27, 1), 0px 0px 0px 3px rgba(96, 165, 250, 0.8), 0px 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset, 0px 0px 0px 0.75px rgba(255, 255, 255, 0.12) inset, 0px 0px 8px 0px rgba(0, 0, 0, 0.1) inset;
  --buttons-danger: 0px -1px 0px 0px rgba(255, 255, 255, 0.16), 0px 0px 0px 1px rgba(255, 255, 255, 0.12), 0px 0px 0px 1px rgba(159, 18, 57, 1), 0px 0px 1px 1.5px rgba(0, 0, 0, 0.24), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  --buttons-danger-focus: 0px -1px 0px 0px rgba(255, 255, 255, 0.16), 0px 0px 0px 1px rgba(255, 255, 255, 0.12), 0px 0px 0px 1px rgba(159, 18, 57, 1), 0px 0px 0px 2px rgba(24, 24, 27, 1), 0px 0px 0px 4px rgba(96, 165, 250, 0.8);
  --details-switch-background: 0px 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset, 0px 0px 0px 0.75px rgba(255, 255, 255, 0.12) inset, 0px 0px 8px 0px rgba(0, 0, 0, 0.1) inset;
  --buttons-inverted-focus: 0px -1px 0px 0px rgba(255, 255, 255, 0.12), 0px 0px 0px 1px rgba(255, 255, 255, 0.12), 0px 0px 0px 1px rgba(82, 82, 91, 1), 0px 0px 0px 2px rgba(24, 24, 27, 1), 0px 0px 0px 4px rgba(96, 165, 250, 0.8);
  --elevation-tooltip: 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.32), 0px 4px 8px 0px rgba(0, 0, 0, 0.32);
  --elevation-flyout: 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 4px 8px 0px rgba(0, 0, 0, 0.32), 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
  --borders-error: 0px 0px 0px 1px rgba(244, 63, 94, 1), 0px 0px 0px 3px rgba(225, 29, 72, 0.25);
  --buttons-inverted: 0px -1px 0px 0px rgba(255, 255, 255, 0.12), 0px 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 0px 0px 1px rgba(82, 82, 91, 1), 0px 0px 1px 1.5px rgba(0, 0, 0, 0.24), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  --borders-base: 0px -1px 0px 0px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(39, 39, 42, 1), 0px 0px 1px 1.5px rgba(0, 0, 0, 0.24), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  --elevation-card-hover: 0px -1px 0px 0px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(39, 39, 42, 1), 0px 1px 4px 0px rgba(0, 0, 0, 0.48), 0px 2px 8px 0px rgba(0, 0, 0, 0.48);
  --elevation-card-rest: 0px -1px 0px 0px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(39, 39, 42, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.32), 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
  --buttons-neutral: 0px -1px 0px 0px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(39, 39, 42, 1), 0px 0px 1px 1.5px rgba(0, 0, 0, 0.24), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  --elevation-code-block: 0px -1px 0px 0px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(39, 39, 42, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.32), 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
  --buttons-neutral-focus: 0px -1px 0px 0px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(39, 39, 42, 1), 0px 0px 0px 2px rgba(24, 24, 27, 1), 0px 0px 0px 4px rgba(96, 165, 250, 0.8);
  --elevation-commandbar: 0px 0px 0px 1px rgba(39, 39, 42, 1) inset, 0px 0px 0px 1.5px rgba(255, 255, 255, 0.1) inset, 0px 4px 8px 0px rgba(0, 0, 0, 0.32), 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
  --elevation-modal: 0px 0px 0px 1px rgba(24, 24, 27, 1) inset, 0px 0px 0px 1.5px rgba(255, 255, 255, 0.06) inset, 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 4px 8px 0px rgba(0, 0, 0, 0.32), 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }

  .big-square {
    position: relative;
  }

  .big-square.checked::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: green;
  }
}

.categories-accordion {
  button .custom-trigger .svg-wrapper{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  button[data-state="open"] .custom-trigger .svg-wrapper {
    transform: translate(-50%, -50%) rotateX(180deg);
  }
}

.beer-glass-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.beer-glass-wrapper .glass-wrapper {
  position: relative;
}

.beer-glass-wrapper .glass {
  border: 4px solid white;
  border-bottom-width: 8px;
  border-top: transparent;
  border-radius: 0 0 4px 4px;
  height: 120px;
  width: 72px;
  transform: perspective(120px) rotateX(-10deg);
  position: relative;
  overflow: hidden;
  margin-bottom: 100%;
}

.beer-glass-wrapper .beer {
  height: 90%;
  width: 100%;
  background-color: #fdfd6d;
  position: absolute;
  bottom: 0;
  transform: scaleY(1);
  transform-origin: bottom;
  animation: beer-fill 3000ms linear infinite;
}

.beer-glass-wrapper .bubble {
  width: 6px;
  height: 6px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  position: absolute;
  animation: bubble-rise 3000ms infinite;
}

.beer-glass-wrapper .bubble:nth-child(1) {
  left: 3.7%;
  bottom: 0.4%;
  animation-duration: 2860ms;
  animation-delay: 140ms;
}
.beer-glass-wrapper .bubble:nth-child(2) {
  left: 51%;
  bottom: 6.4%;
  width: 4px;
  height: 4px;
  animation-duration: 2640ms;
  animation-delay: 360ms;
}
.beer-glass-wrapper .bubble:nth-child(3) {
  left: 18%;
  bottom: 1.4%;
  animation-duration: 2940ms;
  animation-delay: 60ms;
}
.beer-glass-wrapper .bubble:nth-child(4) {
  left: 83%;
  bottom: 9.1%;
  animation-duration: 2590ms;
  animation-delay: 410ms;
}
.beer-glass-wrapper .bubble:nth-child(5) {
  left: 58%;
  bottom: 14.7%;
  width: 3px;
  height: 3px;
  animation-duration: 2930ms;
  animation-delay: 70ms;
}
.beer-glass-wrapper .bubble:nth-child(6) {
  left: 13%;
  bottom: 3.6%;
  animation-duration: 2770ms;
  animation-delay: 230ms;
}
.beer-glass-wrapper .bubble:nth-child(7) {
  left: 73%;
  bottom: 60%;
  width: 7px;
  height: 7px;
  animation-duration: 2900ms;
  animation-delay: 100ms;
}
.beer-glass-wrapper .bubble:nth-child(8) {
  left: 41%;
  bottom: 14.4%;
  animation-duration: 2690ms;
  animation-delay: 310ms;
}
.beer-glass-wrapper .bubble:nth-child(9) {
  left: 35%;
  bottom: 0.4%;
  animation-duration: 3000ms;
}

.beer-glass-wrapper .foambubble {
  display: inline-block;
  width: 32px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -15px;
  z-index: 2;
}

.beer-glass-wrapper .foambubble:nth-child(1) {left: -21%;}
.beer-glass-wrapper .foambubble:nth-child(2) {left: 3%;}
.beer-glass-wrapper .foambubble:nth-child(3) {left: 18%;}
.beer-glass-wrapper .foambubble:nth-child(4) {left: 37%;}
.beer-glass-wrapper .foambubble:nth-child(5) {left: 65%;}

.beer-glass-wrapper .foamtop {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 0;
  width: 100%;
  height: 60px;
  animation: ftbubble-appear 3s infinite;
}
.beer-glass-wrapper .ft-bubble {
  display: inline-block;
  width: 90px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
}

.beer-glass-wrapper .ft-bubble:nth-child(1) {left: -12%}
.beer-glass-wrapper .ft-bubble:nth-child(2) {left: 13%}
.beer-glass-wrapper .ft-bubble:nth-child(3) {left: 43%}
.beer-glass-wrapper .ft-bubble:nth-child(4) {left: 57%}

.beer-glass-wrapper .coaster {
  height: 8px * 2;
  width: 120%;
  margin-left: -10%;
  margin-top: -10%;
  background-color: rgba(50,50,50,0.5);
}

@keyframes beer-fill {
  0% {
    transform: scaleY(0);
  }
  48%,
  100% {
    transform: scaleY(1);
  }
}

@keyframes bubble-rise {
  0%,
  20% {
    opacity: 0;
    transform: translate3d(0,0,0);
  }
  85% {
    opacity: 1;
    transform: translate3d(0, -1920%, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, -1870%, 0);
  }
}

@keyframes ftbubble-appear {
  0%,
  40%{
    opacity: 0;
    transform: translateY(35px) scale3d(0,0,0);
  }
  42% {
    opacity: 0;
    transform: translateY(27px) scale3d(0.4,0,0);
  }
  67%,
  100% {
    opacity: 1;
    transform: translateY(0px) scale3d(1,1,0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite; /* Modifica la durata (20s) in base alla velocità desiderata */
}
